In [1]:
import run_api

Obtained my token successfully!
{'data': 2, 'error': 'task_on_executing', 'error_Description': "Task is running! You don't need to start again."}
{'data': 2, 'error': 'task_on_executing', 'error_Description': "Task is running! You don't need to start again."}
{'data': 2, 'error': 'task_on_executing', 'error_Description': "Task is running! You don't need to start again."}
{'data': 1, 'error': 'success', 'error_Description': 'Task is started successfully!'}

In [2]:
import utils
from ner import NER

csv = utils.csv
pd = utils.pd
np = utils.np
nltk = utils.nltk
itertools = utils.itertools
re = utils.re

[nltk_data] Downloading package stopwords to /home/kasem/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/kasem/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
Nfiles_df_list, first_extract, second_extract, third_extract = run_api.Nfiles_df_list, run_api.first_extract_df, run_api.second_extract_df, run_api.third_extract_df

In [4]:
xls = pd.ExcelFile('strings stems.xlsx')

first = pd.read_excel(xls, 'first').dropna(axis=1, how='all').dropna(axis=0, how='all')
parent_second = pd.read_excel(xls, 'parent second').dropna(axis=1, how='all').dropna(axis=0, how='all')
bad_keywords= pd.read_excel(xls, 'bad keywords').dropna(axis=1, how='all').dropna(axis=0, how='all')

tutoring = pd.read_excel(xls, 'Tutoring').dropna(axis=1, how='all').dropna(axis=0, how='all')
payments = pd.read_excel(xls, 'payments').dropna(axis=1, how='all').dropna(axis=0, how='all')
contract = pd.read_excel(xls, 'contract').dropna(axis=1, how='all').dropna(axis=0, how='all')

firstextract_exported = pd.read_csv("firstextract.csv")
secondextract_exported = pd.read_csv("secondextract.csv")

utils.pre_process_df_keywords(first)
utils.pre_process_df_keywords(parent_second)
utils.pre_process_df_keywords(bad_keywords)

print('x' in parent_second["sound effects"].values)
third_extract

False

,email,field1
0,rob@warroomproductions.com,***TALENT NEEDED FOR KAUAI VIDEO PRODUCTION***
1,fortunefly1000@gmail.com,Female Models Needed
2,j@daddysvapor.com,Earn $50 in 15 minutes | Models Needed
3,djconnect.info@gmail.com,FEMALE AND MALE MODELS WANTED
4,ff69af7354823ce8b6282f447707b2c1@gigs.craigsli...,Models Wanted for private event
...,...,...
584,,Freelance Writer Wanted - Pay $50 per article
585,,Talented Videographer
586,,Hiring for Large Apparel Company 1/31-2/28
587,,female models needed
588,,High-paying studio modeling

In [11]:
first_extract[first_extract["field1_Text_Text"] == ""]

Empty DataFrame
Columns: [field1_Text_Text, field1_Link_Link]
Index: []

In [13]:
(second_extract.merge(third_extract, on= "field1", how="left" ), "field1")

(                                                field1  \
 0    LOOKING FOR A SCENIC DESIGN ASSISTANT/INTERN I...
 1    Need someone who can do all 3 - Videography/Ed...
 2         Looking for content creator/graphic designer
 3    Pregnant? Help revolutionize maternal health f...
 4          Webseries seeks sound person with equipment
 ..                                                 ...
 638      Business Social Media Marketing Expert Needed
 639        Female Model 18-33yrs Caucasian or Hispanic
 640  Casting Call: Female freckled model talent needed
 641                                       Web designer
 642  Photography Videography Photographer Videographer

                                                 field2  \
 0    QR Code Link to This Post                    I...
 1    QR Code Link to This Post                    W...
 2    QR Code Link to This Post                    I...
 3    QR Code Link to This Post                    P...
 4    QR Code Link to This Post                    S...
 ..                                                 ...
 638  QR Code Link to This Post\n            \n     ...
 639  QR Code Link to This Post\n            \n     ...
 640  QR Code Link to This Post\n            \n     ...
 641  QR Code Link to This Post\n            \n     ...
 642  QR Code Link to This Post\n            \n     ...

                                                 field3  \
 0                          compensation: small stipend
 1    compensation: $300-500 per day (Depends on exp...
 2                             compensation: negotiable
 3    compensation: Participants will be compensated...
 4                                   compensation: $200
 ..                                                 ...
 638                           compensation: 10 an hour
 639                  compensation: Based on experience
 640                                             no pay
 641              compensation: Depends upon experience
 642

                                                  email
 0    9fe841511d0c3fdf93fffb5cd1aab5b3@gigs.craigsli...
 1    41d7b67bfb5a34c2b97cd92aabbe281b@gigs.craigsli...
 2    496ced118e7b3df8a66eb543350248de@gigs.craigsli...
 3    a3a22e7151ec378ca4e3a493cfc80bb6@gigs.craigsli...
 4    8a6b8b05489135a5b5669212dfd01ed2@gigs.craigsli...
 ..                                                 ...
 638                                                NaN
 639                                                NaN
 640                                                NaN
 641                                                NaN
 642                                                NaN

 [643 rows x 4 columns], 'field1')

In [9]:
Nfiles_df_list[0].iloc[range(5)]

,field1_Text_Text,field1_Link_Link
0,Fun & Artsy 2 bdrm 2 bath Hayes Valley Hidden Gem,https://sfbay.craigslist.org/sfc/apa/d/san-fra...
1,Fully Furnished Bed and Bath Available in Haye...,https://sfbay.craigslist.org/sfc/apa/d/san-fra...
2,The Studio you've been waiting for!!!,https://sfbay.craigslist.org/sfc/apa/d/san-fra...
3,Our Community Is Busting With Life! Open House...,https://sfbay.craigslist.org/sfc/apa/d/el-sobr...
4,"$1500 / 1br - Lower Nob Hil (Private Patio, Ho...",https://sfbay.craigslist.org/sfc/apa/d/san-fra...

In [62]:
raw_message = """My name is Jack, the designer of Bellorita handbags (bellorita.com). We are working on a 90-second video ad on facebook. We need a video editor to help us edit the video with text, image, and footage overlay to go with the script and spokewoman.

Right now the script (225 words) is ready, but the spokewoman video is not yet, and we need your suggestion on how we need her to performe to smooth your video editing.

If you are interested, please propose with your price.

Please note that this is an easy project, and we want the lowest rate possible. Thank you.

I will pay through cash app and I need to sign an NDA

Sincerely
Jack
""".lower()
message = utils.pre_process(raw_message)

print("Breaking_2") if utils.step_1(raw_message, utils.get_two_word(message), bad_keywords) else False
print(utils.step_1(raw_message, utils.get_two_word(message), bad_keywords))


utils.find_workers(raw_message, message, parent_second), utils.find_workers(raw_message, message, first)

[]

((array(['photoshop', 'video editing'], dtype=object), 'video editing'),
 (array(['a graphic designer', 'someone', 'a video editor'], dtype=object),
  'a video editor'))

In [63]:
extractor = NER()
def extract_pay_info(second_extract, extractor):
    extracted_pay = pd.DataFrame({"field": second_extract['field3'].values, 
              "Res": list(map(extractor.extract_entities_dict,(map(utils.append_sapces,second_extract['field3'].values)))),
              "Decesion": [" "] * len(second_extract['field3'].values)
             })
    for indx, item in enumerate(extracted_pay["Res"]):
        if len(item) != '' and ("money" in item.keys() or 'cardinal' in item.keys()):
            temp = re.findall(r'\d+', str(item.values()).replace(',',""))
            try:
                extracted_pay.iloc[indx]['Decesion'] = min(list(map(int, temp)))
            except:
                extracted_pay.iloc[indx]['Decesion'] = -1
        else:
            extracted_pay.iloc[indx]['Decesion'] = -1

    return extracted_pay

In [64]:
extracted_pay = extract_pay_info(second_extract, extractor)

In [33]:
second_extract_pay_appended = second_extract.reset_index().merge(extracted_pay.reset_index(), on="index",how="right").drop(["index","field","Res"],axis=1)
second_extract_pay_appended.rename(columns={"field1": "title", "field2":"body", "field3": "compensation", "Decesion":"pay_amount"}, inplace=True)

In [34]:
second_extract_pay_appended

,title,body,compensation,pay_amount
0,Boudoir Model Needed,QR Code Link to This Post\n \n ...,compensation: 50/hr or $200,50
1,Paying $5 to test a finance app,QR Code Link to This Post\n \n ...,compensation: $5,5
2,Model wanted for womenswear photoshoot/lookbook,QR Code Link to This Post\n \n ...,"compensation: $40/hr, for 4-5 hrs",4
3,Model Needed 30-50 Female,QR Code Link to This Post\n \n ...,compensation: 250,250
4,Seeking Actresses and Models 18+,QR Code Link to This Post\n \n ...,compensation: up to 500 dollars a day,500
...,...,...,...,...
309,Pro photographer looking for M/F models in Jac...,QR Code Link to This Post\n \n ...,no pay,-1
310,Experienced Audio Video person with experience...,QR Code Link to This Post\n \n ...,compensation: $20-25 per hour DOE,20
311,Big @SS female thong model wanted,QR Code Link to This Post\n \n ...,compensation: Cash.,-1
312,Writer & Product Content Coordinator Gig for E...,QR Code Link to This Post\n \n ...,"compensation: Hourly based on experience, or @...",2
313,"Editing PDF document, etc.",QR Code Link to This Post\n \n ...,compensation: Compensation will be set by mutu...,-1

In [35]:
first_extract.rename(inplace=True, columns={"field1_Text_Text": "title", "field1_Link_Link": "link"})

In [36]:
print((second_extract_pay_appended.merge(first_extract, on= "title", how="left" ).drop_duplicates().iloc[2:5]["link"].values))

['https://orangecounty.craigslist.org/tlg/d/irvine-model-wanted-for-womenswear/7061288716.html'
 'https://provo.craigslist.org/tlg/d/alpine-model-needed-female/7061291756.html'
 'https://saltlakecity.craigslist.org/tlg/d/alpine-model-needed-female/7061657275.html']

In [37]:
from fuzzywuzzy import fuzz

In [39]:
second_extract_pay_appended

,title,body,compensation,pay_amount
0,Boudoir Model Needed,QR Code Link to This Post\n \n ...,compensation: 50/hr or $200,50
1,Paying $5 to test a finance app,QR Code Link to This Post\n \n ...,compensation: $5,5
2,Model wanted for womenswear photoshoot/lookbook,QR Code Link to This Post\n \n ...,"compensation: $40/hr, for 4-5 hrs",4
3,Model Needed 30-50 Female,QR Code Link to This Post\n \n ...,compensation: 250,250
4,Seeking Actresses and Models 18+,QR Code Link to This Post\n \n ...,compensation: up to 500 dollars a day,500
...,...,...,...,...
309,Pro photographer looking for M/F models in Jac...,QR Code Link to This Post\n \n ...,no pay,-1
310,Experienced Audio Video person with experience...,QR Code Link to This Post\n \n ...,compensation: $20-25 per hour DOE,20
311,Big @SS female thong model wanted,QR Code Link to This Post\n \n ...,compensation: Cash.,-1
312,Writer & Product Content Coordinator Gig for E...,QR Code Link to This Post\n \n ...,"compensation: Hourly based on experience, or @...",2
313,"Editing PDF document, etc.",QR Code Link to This Post\n \n ...,compensation: Compensation will be set by mutu...,-1

In [40]:
hard_coded_words = ["hour", "hr", "hourly", "day","daily","month","year"]
hard_coded_delims= ["per", " a ", " an ", "/", "for"]
amount = []
for msg, pay_amount in zip(second_extract_pay_appended["compensation"], second_extract_pay_appended["pay_amount"]):
    found = "NA"
    for key_word in hard_coded_words:
        if key_word in msg.lower():
            found = key_word 
    if found == "NA":
        for delim in hard_coded_delims:
            if msg.lower().find(delim) != -1:
                found = (msg[msg.lower().find(delim)+ len(delim):])
    amount.append(found)

In [41]:
second_extract_pay_appended.reset_index().merge(pd.DataFrame({"amount":amount}).reset_index(), on="index",how="right").drop(["index"],axis=1)

,title,body,compensation,pay_amount,amount
0,Boudoir Model Needed,QR Code Link to This Post\n \n ...,compensation: 50/hr or $200,50,hr
1,Paying $5 to test a finance app,QR Code Link to This Post\n \n ...,compensation: $5,5,NA
2,Model wanted for womenswear photoshoot/lookbook,QR Code Link to This Post\n \n ...,"compensation: $40/hr, for 4-5 hrs",4,hr
3,Model Needed 30-50 Female,QR Code Link to This Post\n \n ...,compensation: 250,250,NA
4,Seeking Actresses and Models 18+,QR Code Link to This Post\n \n ...,compensation: up to 500 dollars a day,500,day
...,...,...,...,...,...
309,Pro photographer looking for M/F models in Jac...,QR Code Link to This Post\n \n ...,no pay,-1,NA
310,Experienced Audio Video person with experience...,QR Code Link to This Post\n \n ...,compensation: $20-25 per hour DOE,20,hour
311,Big @SS female thong model wanted,QR Code Link to This Post\n \n ...,compensation: Cash.,-1,NA
312,Writer & Product Content Coordinator Gig for E...,QR Code Link to This Post\n \n ...,"compensation: Hourly based on experience, or @...",2,month
313,"Editing PDF document, etc.",QR Code Link to This Post\n \n ...,compensation: Compensation will be set by mutu...,-1,NA

In [42]:
second_extract_pay_appended

,title,body,compensation,pay_amount
0,Boudoir Model Needed,QR Code Link to This Post\n \n ...,compensation: 50/hr or $200,50
1,Paying $5 to test a finance app,QR Code Link to This Post\n \n ...,compensation: $5,5
2,Model wanted for womenswear photoshoot/lookbook,QR Code Link to This Post\n \n ...,"compensation: $40/hr, for 4-5 hrs",4
3,Model Needed 30-50 Female,QR Code Link to This Post\n \n ...,compensation: 250,250
4,Seeking Actresses and Models 18+,QR Code Link to This Post\n \n ...,compensation: up to 500 dollars a day,500
...,...,...,...,...
309,Pro photographer looking for M/F models in Jac...,QR Code Link to This Post\n \n ...,no pay,-1
310,Experienced Audio Video person with experience...,QR Code Link to This Post\n \n ...,compensation: $20-25 per hour DOE,20
311,Big @SS female thong model wanted,QR Code Link to This Post\n \n ...,compensation: Cash.,-1
312,Writer & Product Content Coordinator Gig for E...,QR Code Link to This Post\n \n ...,"compensation: Hourly based on experience, or @...",2
313,"Editing PDF document, etc.",QR Code Link to This Post\n \n ...,compensation: Compensation will be set by mutu...,-1

In [81]:
def append_exported(file_name, df_non_exported):
    df_exported = pd.read_csv(file_name)
    return df_exported.append(df_non_exported).drop_duplicates()

In [82]:
append_exported("firstextract.csv",first_extract)

,title,link
0,LOOKING FOR A SCENIC DESIGN ASSISTANT/INTERN I...,https://losangeles.craigslist.org/lgb/cwg/d/lo...
1,Need someone who can do all 3 - Videography/Ed...,https://losangeles.craigslist.org/wst/cwg/d/lo...
2,Looking for content creator/graphic designer,https://sandiego.craigslist.org/esd/crg/d/san-...
3,Pregnant? Help revolutionize maternal health f...,https://losangeles.craigslist.org/lac/cpg/d/lo...
4,I want a e-commerce website built,https://portland.craigslist.org/clk/cpg/d/vanc...
...,...,...
748,Pro photographer looking for M/F models in Jac...,https://jacksonville.craigslist.org/tlg/d/jack...
749,Experienced Audio Video person with experience...,https://phoenix.craigslist.org/evl/cpg/d/scott...
750,Big @SS female thong model wanted,https://richmond.craigslist.org/tlg/d/chesterf...
751,Writer & Product Content Coordinator Gig for E...,https://sfbay.craigslist.org/sfc/wrg/d/san-fra...
752,"Editing PDF document, etc.",https://newyork.craigslist.org/mnh/cpg/d/new-y...

In [78]:
df_exported = pd.read_csv("firstextract.csv").rename(columns={"Field1_Text_Text": "title", "Field1_Link_Link": "link"})
df_exported
961

,title,link
0,LOOKING FOR A SCENIC DESIGN ASSISTANT/INTERN I...,https://losangeles.craigslist.org/lgb/cwg/d/lo...
1,Need someone who can do all 3 - Videography/Ed...,https://losangeles.craigslist.org/wst/cwg/d/lo...
2,Looking for content creator/graphic designer,https://sandiego.craigslist.org/esd/crg/d/san-...
3,Pregnant? Help revolutionize maternal health f...,https://losangeles.craigslist.org/lac/cpg/d/lo...
4,I want a e-commerce website built,https://portland.craigslist.org/clk/cpg/d/vanc...
...,...,...
203,Marketing Company In Need Of Female Adult Perf...,https://lakeland.craigslist.org/tlg/d/winter-h...
204,Creative student writer for sports website,https://richmond.craigslist.org/wrg/d/richmond...
205,Christ's Kingdom computer/writer assist.-Poten...,https://inlandempire.craigslist.org/cpg/d/chat...
206,Computer-based job working from home. (Searchi...,https://milwaukee.craigslist.org/cpg/d/oshkosh...
207,Need simple video/ computer game created,https://jacksonville.craigslist.org/cpg/d/jack...

In [83]:
first_extract

,title,link
0,LOOKING FOR A SCENIC DESIGN ASSISTANT/INTERN I...,https://losangeles.craigslist.org/lgb/cwg/d/lo...
1,Need someone who can do all 3 - Videography/Ed...,https://losangeles.craigslist.org/wst/cwg/d/lo...
2,Looking for content creator/graphic designer,https://sandiego.craigslist.org/esd/crg/d/san-...
3,Pregnant? Help revolutionize maternal health f...,https://losangeles.craigslist.org/lac/cpg/d/lo...
4,Webseries seeks sound person with equipment,https://losangeles.craigslist.org/lac/cwg/d/lo...
...,...,...
748,Pro photographer looking for M/F models in Jac...,https://jacksonville.craigslist.org/tlg/d/jack...
749,Experienced Audio Video person with experience...,https://phoenix.craigslist.org/evl/cpg/d/scott...
750,Big @SS female thong model wanted,https://richmond.craigslist.org/tlg/d/chesterf...
751,Writer & Product Content Coordinator Gig for E...,https://sfbay.craigslist.org/sfc/wrg/d/san-fra...
752,"Editing PDF document, etc.",https://newyork.craigslist.org/mnh/cpg/d/new-y...

In [14]:
third_extract.drop(["Field1","Field2","Field3"], axis=1).dropna().drop_duplicates(subset="field1", keep="last").to_csv("thirdextract.csv",index=False)

In [17]:
print("""HI there
I'm here
""")

HI there
I'm here

In [117]:
df1 = first_extract
df2 = df1.drop(800)
second_extract.drop(642)

,field1,field2,field3
0,LOOKING FOR A SCENIC DESIGN ASSISTANT/INTERN I...,QR Code Link to This Post I...,compensation: small stipend
1,Need someone who can do all 3 - Videography/Ed...,QR Code Link to This Post W...,compensation: $300-500 per day (Depends on exp...
2,Looking for content creator/graphic designer,QR Code Link to This Post I...,compensation: negotiable
3,Pregnant? Help revolutionize maternal health f...,QR Code Link to This Post P...,compensation: Participants will be compensated...
4,Webseries seeks sound person with equipment,QR Code Link to This Post S...,compensation: $200
...,...,...,...
637,After Effects - Animation,QR Code Link to This Post\n \n ...,compensation: TBD
638,Business Social Media Marketing Expert Needed,QR Code Link to This Post\n \n ...,compensation: 10 an hour
639,Female Model 18-33yrs Caucasian or Hispanic,QR Code Link to This Post\n \n ...,compensation: Based on experience
640,Casting Call: Female freckled model talent needed,QR Code Link to This Post\n \n ...,no pay
641,Web designer,QR Code Link to This Post\n \n ...,compensation: Depends upon experience

In [118]:
second_extract

,field1,field2,field3
0,LOOKING FOR A SCENIC DESIGN ASSISTANT/INTERN I...,QR Code Link to This Post I...,compensation: small stipend
1,Need someone who can do all 3 - Videography/Ed...,QR Code Link to This Post W...,compensation: $300-500 per day (Depends on exp...
2,Looking for content creator/graphic designer,QR Code Link to This Post I...,compensation: negotiable
3,Pregnant? Help revolutionize maternal health f...,QR Code Link to This Post P...,compensation: Participants will be compensated...
4,Webseries seeks sound person with equipment,QR Code Link to This Post S...,compensation: $200
...,...,...,...
638,Business Social Media Marketing Expert Needed,QR Code Link to This Post\n \n ...,compensation: 10 an hour
639,Female Model 18-33yrs Caucasian or Hispanic,QR Code Link to This Post\n \n ...,compensation: Based on experience
640,Casting Call: Female freckled model talent needed,QR Code Link to This Post\n \n ...,no pay
641,Web designer,QR Code Link to This Post\n \n ...,compensation: Depends upon experience
642,Photography Videography Photographer Videographer,QR Code Link to This Post\n \n ...,

In [165]:
def compare_against_sent(df1, df2):
    cond = df1[df1.columns[:-1]].isin(df2[df2.columns[:-1]]) == True
    return df1.drop(df1[cond].index)

In [172]:
compare_against_sent(second_extract.drop(64),second_extract)

Empty DataFrame
Columns: [field1, field2, field3]
Index: []

In [113]:
L = [1,2,3]

In [182]:
del df1, df2
L[:-1]

[1, 2]

In [214]:
df1= second_extract[second_extract.columns[:-2]]
df2 = second_extract[second_extract.columns[:-2]].drop(642)

cond = df1[df1.columns[:-1]].isin(df2[df2.columns[:-1]]) == True
df1.drop(df1[cond].index)

Empty DataFrame
Columns: [field1]
Index: []

In [200]:
df1[df1.columns[:-1]].values

array(['LOOKING FOR A SCENIC DESIGN ASSISTANT/INTERN IN LB'], dtype=object)

In [236]:
cond =(second_extract[second_extract.columns[:-1]].isin(second_extract[second_extract.columns[:-1]].drop(640)) != True)

In [239]:
index  = second_extract[(second_extract[second_extract.columns[:-1]].isin(second_extract[second_extract.columns[:-1]].drop(640)) == True)].dropna(how='all').index

In [240]:
second_extract.drop(index)

,field1,field2,field3
640,Casting Call: Female freckled model talent needed,QR Code Link to This Post\n \n ...,no pay

In [277]:
def compare_against_sent(df1, df2, columns_to_check):
    index  = df1[(df1[columns_to_check].isin(df2[columns_to_check]) == True)].dropna(how='all').index
    return df1.drop(index)

In [278]:
compare_against_sent(second_extract, second_extract.drop([640,600]),["field1", "field2"])

,field1,field2,field3
600,Looking for panelist for Youtube webseries,QR Code Link to This Post\n \n ...,no pay
640,Casting Call: Female freckled model talent needed,QR Code Link to This Post\n \n ...,no pay